body {
  margin: 0;
}

.main {
  width: 700px;
  margin: 0 auto;
}

.image {
  width: 200px;
  border: 2px solid black;
}

.nametd {
  text-transform: capitalize;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
