
<div class="main">

  <h1>Add Characters ({{ teamCtrl.characters.length }}/6)</h1>

  <form ng-hide="teamCtrl.characters.length >= 6">
    <input type="text" placeholder="teams" ng-model="teamCtrl.name">
    <input type="submit" value="Add" ng-click="teamCtrl.addCharacter()">
  </form>

  <h2 class="char"> Characters </h2>
  <p></p>

  <table>
    <tbody>

      <tr ng-repeat="character in teamCtrl.characters">

        <td class="imagetd">
          <img class ="image" ng-src="{{ character.image }}">
        </td>

        <td class="des">
          {{ character.name }}
        </td>

        <td class="descriptiontd">
          {{ character.description }}
        </td>




        <td class="ex">
          <i class="fa fa-times-circle" ng-click="teamCtrl.deleteCharacter(character)"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
